main {
  margin-top: 70px;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
  font-weight:bold;   /*  I tried to achieve the boldness of font I saw
      in the example, but couldn't, with either numerical or "bold" font
      weight--and yet I couldn't see any instructions for boldness in the 
      solution code.  Maybe my browser's a little off?   I don't know.  */
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

.had-to-look-up-answer {
  background-color: #775f47;
}    /*  This was a real head-scratcher, or my memory's failing me.
         I had to consult the solution for this one */

.group {
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
}

.group img {
  width: 100%
}

@media all and (min-width: 800px) {
  section {   /* I had to peek here, too, for this bit about padding  */
    padding: 0 10%;
  }
  .group {
    flex-direction: row;
  }
}